*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
build/kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper
/app/libs/
/app/src/main/res/font/
/app/release/
*.keystore
app/src/main/java/com/marudham/farmmanagement/ui/previews
.qlty/
